.avocado {
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: url('../../assets/emoji/avocado.png?sprite') no-repeat;
  background-size: 30px;
  margin: 5px;
}

.baby_bottle {
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: url('../../assets/emoji/baby-bottle.png?sprite') no-repeat;
  background-size: 30px;
  margin: 5px;
}

.bacon {
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: url('../../assets/emoji/bacon.png?sprite') no-repeat;
  background-size: 30px;
  margin: 5px;
}

.bagel {
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: url('../../assets/emoji/bagel.png?sprite') no-repeat;
  background-size: 30px;
  margin: 5px;
}

.baguette_bread {
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: url('../../assets/emoji/baguette-bread.png?sprite') no-repeat;
  background-size: 30px;
  margin: 5px;
}

.banana {
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: url('../../assets/emoji/banana.png?sprite') no-repeat;
  background-size: 30px;
  margin: 5px;
}

.beer_mug {
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: url('../../assets/emoji/beer-mug.png?sprite') no-repeat;
  background-size: 30px;
  margin: 5px;
}

.bento_box {
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: url('../../assets/emoji/bento-box.png?sprite') no-repeat;
  background-size: 30px;
  margin: 5px;
}

.birthday_cake {
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: url('../../assets/emoji/birthday-cake.png?sprite') no-repeat;
  background-size: 30px;
  margin: 5px;
}

.bone {
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: url('../../assets/emoji/bone.png?sprite') no-repeat;
  background-size: 30px;
  margin: 5px;
}

.bottle_with_popping_cork {
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: url('../../assets/emoji/bottle-with-popping-cork.png?sprite') no-repeat;
  background-size: 30px;
  margin: 5px;
}

.bowl_with_spoon {
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: url('../../assets/emoji/bowl-with-spoon.png?sprite') no-repeat;
  background-size: 30px;
  margin: 5px;
}

.bread {
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: url('../../assets/emoji/bread.png?sprite') no-repeat;
  background-size: 30px;
  margin: 5px;
}

.broccoli {
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: url('../../assets/emoji/broccoli.png?sprite') no-repeat;
  background-size: 30px;
  margin: 5px;
}

.candy {
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: url('../../assets/emoji/candy.png?sprite') no-repeat;
  background-size: 30px;
  margin: 5px;
}

.burrito {
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: url('../../assets/emoji/burrito.png?sprite') no-repeat;
  background-size: 30px;
  margin: 5px;
}

.canned_food {
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: url('../../assets/emoji/canned-food.png?sprite') no-repeat;
  background-size: 30px;
  margin: 5px;
}

.carrot {
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: url('../../assets/emoji/carrot.png?sprite') no-repeat;
  background-size: 30px;
  margin: 5px;
}

.cheese_wedge {
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: url('../../assets/emoji/cheese-wedge.png?sprite') no-repeat;
  background-size: 30px;
  margin: 5px;
}

.cherries {
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: url('../../assets/emoji/cherries.png?sprite') no-repeat;
  background-size: 30px;
  margin: 5px;
}

.chestnut {
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: url('../../assets/emoji/chestnut.png?sprite') no-repeat;
  background-size: 30px;
  margin: 5px;
}

.chocolate_bar {
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: url('../../assets/emoji/chocolate-bar.png?sprite') no-repeat;
  background-size: 30px;
  margin: 5px;
}

.chopsticks {
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: url('../../assets/emoji/chopsticks.png?sprite') no-repeat;
  background-size: 30px;
  margin: 5px;
}

.clinking_beer_mugs {
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: url('../../assets/emoji/clinking-beer-mugs.png?sprite') no-repeat;
  background-size: 30px;
  margin: 5px;
}
